@import "./assets/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

// Text

* {
  font-family: "Roboto", sans-serif;
  font-size: $p-size;
}
h1 {
  font-size: $h1-size;
}
h2 {
  font-size: $h2-size;
}
h3 {
  font-size: $h3-size;
}

body {
  background-color: $dark-theme-gray;
}

// Buttons

button {
  color: $font-color;
  padding: 5pt 10pt;
  font-size: $p-size;
  background-color: $layout-blue;
  border: 3px solid $layout-darker-blue;
  border-radius: 10pt;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    background-color: $layout-lighter-blue;
    border-color: #fff;
  }
}

.text-url {
  color: $gray-600;
}

.text-v-center {
  line-height: 50px;
}

.border-round {
  border-radius: 50%;
}
