
@import "_variables.scss";

.combo-slot{
  padding: 5pt;
}

.combo-control {
  height: $input-height + 10pt;

  .combo-span {
    height: 100%;
  }
  .combo-text {
    padding-left: 3pt;
    width: max-content;
  }
}