@import "./variables";

.form-linkbox {
  & .row-full {
    width: max-content;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -0.5);
    margin-left: calc(var(--bs-gutter-x) * -0.5);
  }
  margin: 0.2em 0;
  font-weight: 600;
  //padding / margin
  padding: $form-padding;

  // size
  height: max-content;
  //   width: 50em;

  // Background
  border: 1px solid $border-gray;

  border-radius: 25px;

  input[type="text"] {
    font-weight: 600;
    color: black;
    line-height: $line-height;
    width: 100%;
    border-radius: $input-radius;
    border: solid 2px transparent;
    &:focus {
      outline-width: 0;
      border: solid 2px darkcyan;
    }
  }
  // input[type="color"] {
  //   float: right;
  //   padding: 0;
  //   overflow: hidden;
  //   border: none;
  // }

  .form-submit {
    margin-top: 1em;
    height: $button-height;
    border-radius: $input-radius;
    font-weight: 500;
    float: right;
  }
}
