@import "./variables";

.form-linkbox {
  font-weight: 600;
  //padding / margin
  padding: $form-padding;

  // size
  height: max-content;
  //   width: 50em;

  // Background
  border: 1px solid $border-gray;

  // Border
  border-left: 6pt solid $layout-blue;
  border-radius: $input-radius;

  input[type="text"] {
    font-weight: 600;
    background-color: $gray-300;
    color: black;
    line-height: $line-height;
    width: 100%;
    border-radius: $input-radius;
    border: solid 2px transparent;
    &:focus {
      outline-width: 0;
      border: solid 2px darkcyan;
    }
  }

  .form-submit {
    margin-top: 1em;
    height: $button-height;
    border-radius: $input-radius;
    font-weight: 500;
    float: right;
  }
}
