.light-content {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  background: white;
  color: black;
  background-image: url("../../img/light_honeycomb.png");
  .form-linkbox {
    border: none;
    background: linear-gradient(
      45deg,
      $cornflower-blue,
      $maximum-blue-purple,
      $maximum-blue-purple-2,
      $maximum-blue-purple-3,
      $mauve,
      $mauve-2
    );
  }
  .theme-plugin {
    background: rgba(0, 0, 0, 0.4);
    .dropdown-menu {
      background: linear-gradient(
        45deg,
        $cornflower-blue,
        $maximum-blue-purple,
        $maximum-blue-purple-2,
        $maximum-blue-purple-3,
        $mauve,
        $mauve-2
      );
    }
  }
}

.dark-content {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  background: black;
  color: white;
  background-image: url("../../img/dark_honeycomb.png");
  .form-linkbox {
    border: none;
    background: linear-gradient(
      45deg,
      $charcoal,
      $prussian-blue,
      $space-cadet,
      $dark-purple
    );
  }
  .theme-plugin {
    background: rgba(255, 255, 255, 0.4);
    .dropdown-menu {
      color: white;
      background: linear-gradient(
        45deg,
        $charcoal,
        $prussian-blue,
        $space-cadet,
        $dark-purple
      );
    }
  }
}
